<p>my-bookings works!</p>
<h2>Мои бронирования</h2>
<div class="list">
  @for (b of bookings; track b.id) {
    <div class="card">
      <p>Комната: {{ b.room_number }}</p>
      
      @if (editingBookingId === b.id) {
        <input #timeInput type="datetime-local" [value]="b.start_time">
        <button (click)="saveChanges(b.id, timeInput.value)">OK</button>
        <button (click)="editingBookingId = null">Отмена</button>
      } @else {
        <p>Время: {{ b.start_time | date:'short' }}</p>
        <button (click)="editingBookingId = b.id">Изменить время</button>
      }
    </div>
  } @empty {
    <p>Ничего не найдено. Вы еще ничего не бронировали.</p>
  }
</div>