body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    background-color: var(--light-bg);
    font-size: 14px !important;
}

.main-container {
    display: flex;
    height: auto;
}

.sidebar {
    width: 280px;
    background-color: var(--dark-bg);
    color: var(--white);
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
}

.content-area {
    flex-grow: 1; 
    padding: 30px;
    overflow-y: auto; 
}

::-webkit-scrollbar {
    width: 6px;  
    height: 6px; 
}

::-webkit-scrollbar-track {
    background: #f1f5f9;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #26a69a; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: #1d8a80;
}

.eq-table-container, 
.view-content, 
.canteen-table-container, 
.reports-grid {
    scrollbar-width: thin; 
    scrollbar-color: #26a69a #f1f5f9;
}